@charset "UTF-8";

body {
    background-color: #1b2025
}

#console {
    font-family: 'Courier New', Courier, monospace;
    color: #edc9af; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 3.3vmin;
}

#blog {
    font-family: 'Courier New', Courier, monospace;
    color: #00FF41; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 3vmin;
}

a {
    font-family: 'Courier New', Courier, monospace;
    color: #edc9af;
    text-decoration: none;
}

.am {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

#a {
    color: #edc9af;
}

#as {
    color: #FF6E4A;
    font-style: italic;
    font-weight: bold;
}

#al {
    color: #FF6E4A;
    font-size: x-small;
}

#c {
    color: #fff;
}

#b {
    color: #fff;
}   